<!--====== CONTACT PART START ======-->

<section id="contact" class="contact-area pt-115">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="contact-title text-center">
          <h2 class="title">SIGN IN</h2>
        </div>
        <!-- contact title -->
      </div>
    </div>
    <!-- row -->

    <div class="contact-box">
      <div class="row">
        <div class="col-lg-12">
          <div class="contact-form">
            <form [formGroup] = "signinForm" (ngSubmit) = "onSubmit()">
              <div class="row">
                <div class="col-lg-12">
                  <div class="single-form form-group">
                    <input
                      class="form-control"
                      type="text"
                      name="email"
                      placeholder="Enter Your Email"                      
                      required="required"  formControlName = "email"
                    />
                    <div class="invalid-feedback" *ngIf = "signinForm.get('email').hasError('invalid')">Please provide a proper Email</div>
                  </div>
                  <!-- single form -->
                </div>

                <div class="col-lg-12">
                  <div class="single-form form-group">
                    <input
                      class="form-control"
                      type="text"
                      name="password"
                      placeholder="Enter Your Password"                      
                      required="required" [formControl] = "signinForm.get('password')"
                    />
                    <div class="invalid-feedback" *ngIf = "signinForm.get('email').hasError('invalid')">Please provide a password</div>
                  </div>
                  <!-- single form -->
                </div>
                <div class="col-lg-12">
                  <div class="single-form form-group">
                    <select
                      class="form-control form-control-md"
                      id="exampleFormControlSelect1"
                      required="required"
                      name="type"
                    >
                      <option disabled selected>Select User Type</option>
                      <option>farmers</option>
                      <option>customers</option>
                    </select>
                    <div class="help-block with-errors"></div>
                  </div>
                  <!-- single form -->
                </div>
                <p class="form-message"></p>
                <div class="col-lg-12">
                  <div class="single-form form-group">
                    <button class="main-btn" type="submit" [disabled]= "!signinForm.valid">SIGN IN</button>
                  </div>
                  <!-- single form -->
                </div>
              </div>
              <!-- row -->
            </form>
          </div>
          <!-- row -->
        </div>
      </div>
      <!-- row -->
    </div>

    <div class="row justify-content-center mt-70">
      <div class="col-lg-12">
        <div class="contact-title text-center">
          <h2 class="title">SIGN UP</h2>
        </div>
        <!-- contact title -->
      </div>
    </div>
    <!-- row -->
    <div class="contact-box">
      <div class="row">
        <div class="col-lg-12">
          <div class="contact-form">
            <form
              id="contact-form"
              action="assets/contact.php"
              method="post"
              data-toggle="validator"
            >
              <div class="row">
                <label for="adress" class="col-lg-12 col-form-label-lg">Personal Information</label>
                <div class="col-lg-4">
                  <div class="single-form form-group">
                    <input
                      type="text"
                      name="firstName"
                      placeholder="Enter Your First Name"
                      data-error="First Name is required."
                      required="required"
                    />
                    <div class="help-block with-errors"></div>
                  </div>
                  <!-- single form -->
                </div>
                <div class="col-lg-4">
                  <div class="single-form form-group">
                    <input
                      type="text"
                      name="lastName"
                      placeholder="Enter Your Last Name"
                      data-error="Last Name is required."
                      required="required"
                    />
                    <div class="help-block with-errors"></div>
                  </div>
                  <!-- single form -->
                </div>
                <div class="col-lg-4">
                  <div class="single-form form-group">
                    <input
                      type="text"
                      name="phone"
                      placeholder="Enter Your Phone Number"
                      data-error="Valid Phone Number is required."
                      required="required"
                    />
                    <div class="help-block with-errors"></div>
                  </div>
                  <!-- single form -->
                </div>
                <div class="col-lg-6">
                  <div class="single-form form-group">
                    <input
                      type="email"
                      name="email"
                      placeholder="Enter Your Email"
                      data-error="Valid email is required."
                      required="required"
                    />
                    <div class="help-block with-errors"></div>
                  </div>
                  <!-- single form -->
                </div>
                <div class="col-lg-6">
                    <div class="single-form form-group">
                        <input
                        type="password"
                        name="password"
                        placeholder="Enter Your New Password"
                        data-error="Password is required."
                        required="required"
                      />
                      <div class="help-block with-errors"></div>
                    </div>
                    <!-- single form -->
                  </div>
                  <label for="adress" class="col-lg-12 col-form-label-lg">Address</label>
                  <div class="col-lg-6">
                    <div class="single-form form-group">
                      <input
                        type="text"
                        name="street"
                        placeholder="Enter Your Street"
                        data-error="Street is required."
                        required="required"
                      />
                      <div class="help-block with-errors"></div>
                    </div>
                    <!-- single form -->
                  </div>
                  <div class="col-lg-6">
                      <div class="single-form form-group">
                          <input
                          type="text"
                          name="city"
                          placeholder="Enter Your City"
                          data-error="City is required."
                          required="required"
                        />
                        <div class="help-block with-errors"></div>
                      </div>
                      <!-- single form -->
                    </div>
                    <div class="col-lg-6">
                        <div class="single-form form-group">
                          <input
                            type="text"
                            name="state"
                            placeholder="Enter Your State"
                            data-error="State is required."
                            required="required"
                          />
                          <div class="help-block with-errors"></div>
                        </div>
                        <!-- single form -->
                      </div>
                      <div class="col-lg-6">
                          <div class="single-form form-group">
                              <input
                              type="text"
                              name="zip"
                              placeholder="Enter Your ZIP"
                              data-error="ZIP is required."
                              required="required"
                            />
                            <div class="help-block with-errors"></div>
                          </div>
                          <!-- single form -->
                        </div>
                <p class="form-message"></p>
                <div class="col-lg-12">
                  <div class="single-form form-group">
                    <button class="main-btn" type="submit">SIGN UP</button>
                  </div>
                  <!-- single form -->
                </div>
              </div>
              <!-- row -->
            </form>
          </div>
          <!-- row -->
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- contact box -->
  </div>
  <!-- container -->
</section>
