
<header class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" routerLink="/farmers">
                        <img src="assets/images/logo.png" alt="Logo" class="logo-size">
                    </a> <!-- Logo -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="bar-icon"></span>
                        <span class="bar-icon"></span>
                        <span class="bar-icon"></span>
                    </button>
  
                    <div class="collapse navbar-collapse"  id="navbarNavDropdown">
                        <ul id="nav" class="navbar-nav ml-auto">
                            <li class="nav-item active ">
                                <a data-scroll-nav="0" routerLink="/farmer">Products</a> 
                            </li>
                            <li class="nav-item active ">
                                <a data-scroll-nav="0" routerLink="product/add">Add product</a> 
                            </li>
                            <li class="nav-item active ">
                                <a data-scroll-nav="0" routerLink="product/234234/edit">Update product</a> 
                            </li>
                            <li class="nav-item">
                                <a data-scroll-nav="0" routerLink="#orders">Orders</a>
                            </li>
                        </ul> <!-- navbar nav -->
                    </div>
                </nav> <!-- navbar -->
                
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
  </header>
  
  <!--====== HEADER PART ENDS ======-->