.main-btn {
  margin-right: 15px;
  width: 500px;
  border-radius: 10px;
}
.button {
  text-align: center;
}
.navbar-nav .nav-item a{
  font-size: 25px;
  text-decoration: none;
  font-family: cursive;

}
