<app-header-customer></app-header-customer>

<section id="contact" class="contact-area pt-200">
  <div class="container">
    <!-- row -->

<div class="contact-box">
  <div class="row">
      <div class="col-lg-12">
          <div class="contact-form">

              <form [formGroup]="ordersQueryForm" (ngSubmit)="onSearch()">

                  <div class="row">

                      <div class="col-lg-4">
                        <label for="statusSelect" class="col-lg-4 col-form-label-lg">Status</label>
                          <div class="">
                              <select class="form-control form-control-md" id="statusSelect"
                                  required="required" name="status" style="height: 56px;" formControlName="status">
                                  <option selected>All Status</option>
                                  <option>pending</option>
                                  <option>ready</option>
                                  <option>completed</option>
                              </select>
                          </div>
                          
                          <!-- single form -->
                      </div>
                      
                      <div class="col-lg-4">
                        <label for="fromDate" class="col-lg-4 col-form-label-lg">From</label>
                          <div class="single-form form-group" style="margin-top:0">
                              <input id="fromDate" type="date" name="fromDate" formControlName="fromDate" />
                          </div>
                          <!-- single form -->
                      </div>
                      
                      <div class="col-lg-4">
                        <label for="toDate" class="col-lg-4 col-form-label-lg">To:</label>
                          <div class="single-form form-group" style="margin-top:0">
                              <input id="toDate" type="date" name="toDate"  formControlName="toDate"/>
                          </div>
                          <!-- single form -->
                      </div>
                      
                      <p class="form-message"></p>
                      <div class="col-lg-12">
                          <div class="single-form form-group" style="margin-top:0">
                              <button class="main-btn" type="submit">SEARCH</button>
                          </div>
                          <!-- single form -->
                      </div>
                  </div>
                  <!-- row -->
              </form>
          </div>
          <!-- row -->
      </div>
  </div>
  <!-- row -->
</div>
<!-- SEARCH BOX -->

</div>
<!-- container -->
</section>

<section id="contact" class="contact-area pt-25 ">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="contact-title text-center">
          <h2 class="info-title" *ngIf="checkOrders() else no_orders">{{status}} order history</h2>
          <ng-template #no_orders><h2 class="info-content">No Orders Available</h2></ng-template>
          <h2 class="info-content" *ngIf="checkOrders()">from {{toDate}} to {{fromDate}} </h2>
        </div> <!-- contact title -->
      </div>
    </div> <!-- row -->

    <div class="contact-box mt-70" *ngFor="let order of orders">
      <div class="row">
        <div class="col-lg-4">
          <div class="contact-info pt-25">
            <h4 class="info-title">Order Id</h4>
            <h6 class="info-content">{{order._id}}</h6>
            <ul>
              <li>
                <div class="single-info mt-30">
                  <div class="info-title">
                    Order Date:
                  </div><br />
                  <div class="info-content">
                    <p>{{order.order_date}}</p>
                  </div>
                </div> <!-- single info -->
              </li>
              <li>
                <div class="single-info mt-30">
                  <div class="info-title">
                    Farmer Id:
                  </div><br />
                  <div class="info-content">
                    <p>{{order.farmer_id}}</p>
                  </div>
                </div> <!-- single info -->
              </li>
              <li>
                <div class="single-info mt-30">
                  <div class="info-title">
                    Total Price:
                  </div><br />
                  <div class="info-content">
                    <p>{{order.total_price}}</p>
                  </div>
                </div> <!-- single info -->
              </li>
            </ul>
          </div> <!-- contact info -->
        </div>
        <div class="col-lg-8">
          <div class="contact-form">
            <div class="single-slider">
              <div class="slider-bg">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Product Name</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Unit</th>
                      <th scope="col">Unit Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let product of order.products; let i = index">
                      <th scope="row">{{i+1}}</th>
                      <td>{{product.product_name}}</td>
                      <td>{{product.unit}}</td>
                      <td>{{product.unit_price}}</td>
                      <td>{{product.quantity}}</td>
                    </tr>
      
                  </tbody>
                </table>
              </div>
            </div>

          </div> <!-- row -->
        </div>
      </div> <!-- row -->
    </div>



  </div> <!-- container -->
</section>